@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

body{
    background-color: #F3EAE3;
}

p{
    color: #70768F;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    word-break: keep-all;
    word-spacing: 3px;
    line-height: 1.6;
}

h1{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    word-break: keep-all;
}


.container{
    display: block;
    margin: auto;
    padding: 88px;
    overflow: hidden;
}

.card{
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    border: 1px solid #F3EAE3;
    /* overflow: hidden; */
    border-radius: 15px;
    width: 838px;
    height: 510px;
}

.imgCol{
    overflow: hidden;
}

.imgCol > img:nth-child(1){
    width: 419px;
    height: 510px;
}

.imgCol > img:nth-child(2){
    display: none;
}
 
.productDesc{
    background-color: white;
}

.productDescContent{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    padding-top: 20px;
}

.productDescContent > p{
    font-weight: 500;
}

.priceGrid{
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    gap: 2px;
}

.priceGrid > h1{
    color: #3D8168;
}

.priceGrid > p{
    text-decoration: line-through;
}

button{
    background-color: #3D8168;
    border: 1px solid #3D8168;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
}

button:hover{
    background-color: #1c232b;
    color: white;
}

.buttonContent{
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media only screen and (max-width:768px){
    .container{
        padding: 80px;
    }

    .card{
        width: 600px;
    }

    .imgCol > img:nth-child(1){
        width: 300px;
    }

    .productDescContent{
        width: 72%;
        padding-top: 8px;
    }
}

/* continue from here */
@media only screen and (max-width:430px){

    .container{
        padding: 0;
        padding-top: 23px;
    }

    .card{
        border-radius: 0px;
        width: 400px;
        height: 900px;
    }

    .imgCol{
        grid-area: 1 / 1 / 4 / 2;
        width: 400px;
        height: 300px;
        border-radius: 15px 15px 0 0;
    }

    .imgCol > img:nth-child(1){
        display: none;
    }
    
    .imgCol > img:nth-child(2){
        display: block;
        width: 400px;
        height: 300px;
    }

    .productDesc{
        width: 400px;
        height: 450px;
        grid-area: 3 / 1 / 4 / 2;
        border-radius: 0 0 15px 15px;
    }

    .productDescContent{
        width: 82%;
    }

    .priceGrid{
        grid-template-columns: 40% 40%;
        gap: 15px;
    }
}

@media only screen and (max-width:380px){
    .card{
        width: 300px;
    }

    .imgCol{
        width: 300px;
    }

    .imgCol > img:nth-child(2){
        width: 300px;
    }

    .productDesc{
        width: 300px;
    }

    .productDescContent{
        width: 92%;
    }

    .priceGrid{
        grid-template-columns: 45% 40%;
    }
}